{% extends 'base.html' %}
{% block content %}
<!--Main container-->
<div class="container">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
<form method="post" class="form-container" enctype="multipart/form-data">
	{% csrf_token %}
	<label class="label">Name<span class="required">*</span></label>
	<input class="input" id="name" name="name" type="text" placeholder="Course name" required>

	<label class="label">Short Name<span class="required">*</span></label>
	<input class="input" id="short_name" name="short_name" type="text" placeholder="Short name" required>

	<label class="label">Content id<span class="required">*</span></label>
	<input class="input" id="content_id" name="content_id" type="text" placeholder="XXXX" required>
<label class="label">Description<span class="required">*</span></label>
	<textarea class="input" id="description" name="description" rows="8" cols="40" required></textarea>
	<label class="label">Image<span class="required">*</span></label>
	<input class='input' type="file" id="img" name="img">
<input type="checkbox" id="is_visible" name="is_visible" value="True" checked><span>&nbsp;Homepage Visibility</span>
<div class="formbtn">
	<button class="submit-btn" type="submit">Submit</button>
	<button class="reset-btn" type="reset">Reset</button>
	<a href="{% url 'siteadmin' %}">Back</a>
</div>
</form>
</div>
{% endblock content %}